<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
<!--Hier: Navbar-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!--Name wenn eingeloggt und Admin Status-->
    <span class="menu">
        <div th:if="${currentUser != null}">
            <p>Hi
        <th:block th:text="${currentUser.name}"></th:block>
                ! - You are logged in.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:if="${currentUser.isAdministrator()}">
                    Status: administrator</a>
            </p>
    </div>
    </span>

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Back to Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup
                </a>
            </li>
            <div th:if="${currentUser != null && currentUser.isAdministrator()}">
                <li class="nav-item">
                    <a class="nav-link" href="/beitrag">Create Entry

                    </a>
                </li>
            </div>

            <li class="nav-item">
                <div th:if="${currentUser == null}">
                    <a class="nav-link" href="/login">Login
                    </a>
                </div>
            </li>

            <!--Hier: Settings nur für Admin und eingeloggt-->
            <div th:if="${currentUser != null && currentUser.isAdministrator()}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/showAdmins">Add to Admin</a>
                    </div>
                </li>
            </div>

            <li class="nav-item">
                <div th:if="${currentUser != null}">
                    <form th:action="@{/logoutToHome}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!--Hier Seiteninhalt-->
<br>

<!--hier Inhalt-->
<section class="blogPost">
    <div class="container">
        <h1><b>Blog: Post Overview and Comments</b></h1><br>

        <!--  erste Zeile-erste Spalte-->
        <div th:if="${beitraege != null}">
            <th:block th:each="beitrag: ${beitraege}">
                <div class="row">
                    <div class="col-md-10">
                        <h2>
                            <div th:text="${beitrag.ueberschrift}"></div>
                        </h2>
                        <div th:text="${beitrag.getText()}"></div>
                        <div th:text="${#temporals.format(beitrag.getErstellungsDatum(), 'dd-MM-yyyy HH:mm')}"></div>
                        <br>
                        <br>
                        <!--  hier Kommentare pro Beitrag-->
                        <h4>Comments:</h4>
                        <th:block th:each="kommentar: ${beitrag.getKommentare()}">
                            <div th:text="${kommentar.getText()}"></div>
                            <br>
                            <div th:text="${#temporals.format(kommentar.getErstellungsdatum(), 'dd-MM-yyyy HH:mm')}"></div>
                            <br>
                            <!--Kommentar loeschen-->
                            <div th:if="${currentUser != null && (currentUser.isAdministrator()||currentUser==kommentar.user)}">
                                <form th:action="@{/deleteKommentar(kommentarId=${kommentar.kommentar_id})}"
                                      method="post">
                                    <button type="submit">Delete this comment</button>
                                </form>
                            </div>
                            <br>
                            <br>
                        </th:block>
                        <br>
                        <!-- Kommentar zu einem Beitrag erstellen -->
                        <div th:if="${currentUser != null}">
                            <div><a th:href="@{/kommentar/create/{beitragId}(beitragId=${beitrag.getId()})}"
                                    class="commentLink">Create
                                comment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p>-----------------------------------------------------------</p>
            </th:block>
        </div>
    </div>

</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style th:inline="text">
    body {
        background: url([[@{/img/pexels-photo-872958-large.jpeg}]]) no-repeat center center fixed;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>